@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

:root {
  --night: #131316ff;
  --raisin-black: #1c1c21ff;
  --raisin-black-2: #26262cff;
  --jet: #2f3037ff;
  --onyx: #393a41ff;
  --davys-gray: #4b4c52ff;
  --davys-gray-2: #5b5c62ff;
  --dim-gray: #6a6b70ff;
  --text-blue-500: #3b82f6;
  --text-blue-600: #2563eb;
  --text-blue-700: #1d4ed8;
}

body {
  background: var(--jet);
  color: white;
}

.content-container {
  height: calc(100vh - theme('spacing.20'));
}

.header {
  padding: 1rem 0;
  border-bottom: 1px solid var(--onyx);
}

.header .active {
  font-weight: bold;
  color: #3b82f6;
}

form label {
  color: #e0e0e0;
}
